@media only screen and (max-width: 1000px) {
    :root {
        --FLOAT: none;
        --MARGIN: auto;
    }
}

:root {
    --DARK_GREY: #A1A1A1;
    --LIGHT_GREY: #E3E3E3;
    --BLUE: rgb(39, 161, 202);
}

header {
    text-align: center;
    color: var(--BLUE, blue);
}

main {
    margin: auto;
    padding: 5%;
    width: 80%;
    border: 2px solid var(--LIGHT_GREY, grey);
    border-radius: 2em;  
    overflow: hidden;
}

#power {
    width: 75%;
    height: 3em;
    margin: auto;
    /* float:  */
    display: block;
}

.control_box  {
    margin: 2em var(--MARGIN, 5%);
    border: 2px solid var(--LIGHT_GREY, grey);
    padding: 2em;
    width: 25%;
    min-width: 15em;
    max-width: 40em;
    height: 15em;
    border-radius: 5%;  
}

#pump_control {
    float: var(--FLOAT, right);
}

#fan_control {
    float: var(--FLOAT, left);
}

.control_box h2 {
    text-align: center;
}

.icon {
    height: 25px;
    width: 25px;
}
